<!DOCTYPE html>
<html>
<head>
  <title>Show Me the Outfit</title>
</head>
<body>
  <h1><%= outfit.color %> <%= outfit.type %></h1>
  <h2>
    <%= outfit.dino.name %> owns this beautiful size <%= outfit.size %>
    <%= outfit.material %> <%= outfit.type %>
  </h2>
  <h2>
    <%= outfit.dino.name %> is a lucky <%= outfit.dino.type %>
  </h2>
</body>
</html>
